* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html {
	font: normal 100%/1.4 'Open Sans',sans-serif;
}

body {
	padding: 0;
	margin: 0;
	margin-top: 6em;
}

.skiplinks{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index:3000;
	width:100%;
	font-size: 1.25rem;
	font-weight:bold;
	list-style-type: none;
}

.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited{
	padding:0.75em 1em;
	position: absolute;
	top: -10em;
	font-family: 'Open Sans', sans-serif;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.skiplinks a:focus{
top: 0;
}

a:hover,
a:active{
/* its ok to remove outline here because its only for the mouse users. */
	outline:none;
}

a:focus{
/*YOU MUST ALWAYS HAVE AN OUTLINE HERE*/
outline: 2px solid #000;
}




.flex-img {
	display: block;
	width:  100%;
}

section {
	padding-top: 6em;
	margin-top: -6em;
}

.bg {
	padding: 0;
}

a {
	color: #fefefe;
	text-decoration: none;
}

header a {
	text-transform: uppercase;
}

header a:hover {
	color: #00a78a;
}

header {
	width: 100%;
	height: 6em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#logo{

	margin: 1em 1em 1em 2em;
	float: left;
	width: 4em;
	height: 4em;
	background: url(../img/logo.png) no-repeat center;
	background-size: contain;
	display: block;

}

header nav {

	float: right;
	padding: 0.5em 2em;

}

#menu-icon {

	display: hidden;
	width: 1.75em;
	height: 1.75em;
	background: url(../img/i-menu.png) center;
	background-size: 100%;
	background-repeat: no-repeat;
}

header a:hover#menu-icon {

	border-radius: 4px 4px 0 0;

}

header ul {

	list-style: none;

}

header li {

	display: inline-block;
	float: left;
	padding: .5em 1em;

}

.logo {
	max-width: 10em;
}


.bg-box {
	position: fixed;
  top: -1%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-home {
	background: url(../img/bg-intro.jpg) center no-repeat;
	position: absolute;
	top: 0;
	margin: auto;
}


.h1-bg {
}

.intro {
	text-align: center;
	margin: 0;
	color: #fff;
	font-weight: thin;
}

.intro {
	margin: 0;
	font-family: 'Open Sans', serif;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	line-height: 1;
}

.intro p {
	margin: 0;
}

.intro img {
	background-size: 100%;
}

.font-graphic {
	text-align: center;
	font-size: 1.5rem;
	line-height: 0.9;
	padding: 1em 0 8em;
	font-weight: bold;
}

.font-medium {
	text-align: center;
	font-size: 1rem;
	color: #fefefe;
	padding-top: 5em;
	font-weight: lighter;
}

.about-bg {
	background-color: #fff;
	border-bottom: 1px solid #e2e2e2;
}

.about-block {
	padding: 4em 2em;
	background-color: #fff
}

.process {
	font-size: 1.2em;
	color: #2e2e2e;
	text-align: left;
	padding: 1em 0 3em;
	font-family: 'Open Sans', sans-serif;
}

.process h1 {
	font-size: 2.5em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;
}

.process p {
	font-size: 0.8em;
	margin: 0;
}

.process h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	}

.img-process {
	margin: auto;
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 2.5em;
	max-width: 10em;
}

.work-single {
	padding-bottom: 2em;
	border-bottom: 1px solid #e2e2e2;
}

#work {
	padding-bottom: 2em;
	border-bottom: 1px solid #e2e2e2;
}

.hexagon {
    cursor: pointer;
    }

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    }

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    }

.hexagon-in2:hover {
    opacity: 0.4;

    }


.hexagon2 {
    width: 15em;
    height: 15em;
    margin: auto;
    margin-bottom: 2em;

    }


.piece1 {
	background-position: 80%;
    background-size: 400%;
    background-image: url(../img/poster-extinction.jpg);
}

.piece2 {
	background-position: 30% 96%;
    background-size: 400%;
    background-image: url(../img/website-lookup.jpg);
}

.piece3 {
	background-position: 30% 20%;
    background-size: 250%;
    background-image: url(../img/poster-filmnoir.jpg);
}

.piece4 {
	background-position: 70% 20%;
    background-size: 300%;
    background-image: url(../img/app-musicfest-1.jpg);
}

.piece5 {
	background-position: 55% 56%;
    background-size: 250%;
    background-image: url(../img/poster-tweed2.jpg);
}

.piece6 {
	background-position: 10% 40%;
    background-size: 300%;
    background-image: url(../img/spread-florence.jpg);
}

.piece7 {
	background-position: 80% 50%;
    background-size: 300%;
    background-image: url(../img/app-boulder1.jpg);
}

.piece8 {
	background-position: 50% 30%;
    background-size: 500%;
    background-image: url(../img/package-vino.jpg);
}

.piece9 {
	background-position: 50% 50%;
    background-size: 150%;
    background-image: url(../img/stationnery-pf.jpg);
}



.contact {
	font-size: .8em;
	padding: 4em 0;
	color: #2e2e2e;
	background-color: #ffffff;
}

.contact-info {
	width: 15em;
	margin: auto;
}

.contact h3 {
	text-transform: uppercase;
	color: #2e2e2e;
	padding: 0 0 2em;
}

.contact a {
	color: #00a78a;
}

.contact a:hover {
	text-decoration: underline;
}

#footer-container {
	padding: 3em 2em 4em;
	background-color: #2e2e2e;
	height: 15em;
}

	#bottom .copyright {
		font-size: 0.6em;
		color: #fff;
		text-transform: uppercase;
		text-align: right;
		float: right;
		letter-spacing: 0.2em;
	}

	#bottom .social {
		float: left;
		padding-bottom: 2em;

		}


	.social a {
		padding-right: 3em;
		font-size: 0.75em;
		color: #fff;
		text-transform: uppercase;
		vertical-align: bottom;
		letter-spacing: 0.2em;
	}

	.social img {
		vertical-align: middle;
		margin-right: 0.75em;
		width: 1.5em;
	}

	#bottom a:hover {
		color: #00a78a;
	}



@media only screen and (min-width: 23em) {


}


@media only screen and (max-width : 33em) {

	header {
		position: fixed;
	}

	#menu-icon {
		display:inline-block;
	}

	header nav ul, nav:active ul {

		display: none;
		position: fixed;
		padding: 1em;
		right: 3em;
		top: 3em;
		width: 30%;
		border-radius: 4px 4px 4px 4px;

	}

	header nav li {

		text-align: center;
		width: 100%;
		padding: 1em 0;
		margin: 0;

	}

	header nav:hover ul {

		display: block;

	}

	.social a {
		display: block;
		margin: 1em 0;
	}

}

@media only screen and (min-width: 33em){

	.process {
		padding-left: 1em;
		padding-right: 1em;
	}

}

@media only screen and (min-width: 50em){


}

@media only screen and (min-width: 64em) {

	.contact {
	padding: 4em 0;
}

.my-process {
	padding-left: 15em;
	padding-right: 15em;
}

.img-process {
	max-width: 7em;
}

.font-graphic {
	padding-bottom: 15em;
}

}


@media only screen and (min-width: 80em) {

	.bg {
		padding: 0 8em;
	}

}

