<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>

  <link href='http://fonts.googleapis.com/css?family=Questrial|Open+Sans+Condensed:700,300|Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <link href="/css/cgdesigned.css" rel="stylesheet">

  <link rel="icon" href="/img/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <script src="/js/modernizr.js"></script>

	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>CG Designed · Graphic Designs by Caroline Guindon</title>
	<meta name="description" content="Graphic Designs by Caroline Guindon are focused on concept and communication. Designing for print and digital: branding, posters, web, motion…">

  	<!-- Facebook -->
	<meta property="og:type" content="article">
  <meta property="og:title" content="CG Designed · Graphic Designs by Caroline Guindon">
  <meta property="og:url" content="http://cgdesigned.ca">
  <!-- Image size: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://cgdesigned.ca/img/i-logo.svg">
  <meta property="og:description" content="Graphic Designs by Caroline Guindon are focused on concept and communication. Designing for print and digital: branding, posters, web, motion…">
  <meta property="og:site_name" content="CG Designed">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="CG Designed · Graphic Designs by Caroline Guindon">
  <meta property="twitter:url" content="http://cgdesigned.ca">
  <!-- Image size: 120x120 (Twitter will scale down any larger image to fit)-->
  <meta property="twitter:image" content="http://cgdesigned.ca/img/i-logo.svg">
  <meta property="twitter:description" content="Graphic Designs by Caroline Guindon are focused on concept and communication. Designing for print and digital: branding, posters, web, motion…">

  <a name="home"></a>
</head>

<body>

<ul class="skiplinks">
<li><a href="#main">Skip to primary content</a></li>
<li><a href="#comp">Skip to secondary content</a></li>
<li><a href="#navi">Skip to main navigation</a></li>
</ul>


	<section id="top">
		<header>

			<a href="/index.html" id="logo"></a>

		<nav>

			<a href="#" id="menu-icon"></a>

			<ul role="navigation" id="navi">

				<li><a href="/index.html#about">About</a></li>
				<li><a href="/work.html">Work</a></li>
				<li><a href="#contact">Contact</a></li>

			</ul>

		</nav>

		</header>
	</section>

  {{content}}



<a name="contact"></a>
<div id="footer-container">
    <div id="bottom">
      <div class="container">
          <div class="social">
            <a href="https://www.behance.net/cguindon"><img src="img/i-behance.svg">Behance</a>
            <a href="http://www.linkedin.com/pub/caroline-guindon/61/676/282"><img src="img/i-linkedin.svg">LinkedIn</a>
            <a href="https://twitter.com/caro_guindon"><img src="img/i-twitter.svg">Twitter</a>
            <a href="http://instagram.com/caguindon"><img src="img/i-insta.svg">Instagram</a>
          </div>
        <p class="copyright">© Caroline Guindon 2013. All Rights Reserved</p>
      </div>
    </div>
</div>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/lightbox-2.6.min.js"></script>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="js/dialog-polyfill.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/video.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/animation.js"></script>
  <script src="js/testimonials.js"></script>

</body>
</html>
